.small {
  font-size: 0.75rem;
}

.text-uppercase {
  text-transform: uppercase;
}

.font-weight-normal {
  font-weight: normal;
}

.font-weight-medium {
  font-weight: 500;
}

.lts-1px {
    letter-spacing: 1px;
 }

 .lts-2px {
   letter-spacing: 2px;
 }
