$color1: rgba(255, 103, 0, 1);
$color2: rgba(127, 176, 105, 1);
$color3: #0e7ba3;
$color4: #ea3546;
$color5: #c2c8cc;

$text-primary: rgb(59, 72, 88);
$text-warning: #ea3546;
$text-light: #fffbbd;

$text-light-black: rgba(59, 72, 88, 0.6);
$text-black: rgba(59, 72, 88, 0.9);
$text-muted: rgba(59, 72, 88, 0.3);

$bg-primary: #1991bd;
$bg-light: #e0e0e0;
$bg-dark: #24292e;


