$color1: rgba(255, 103, 0, 1);
$color2: rgba(127, 176, 105, 1);
$color3: #0e7ba3;
$color4: rgba(234, 53, 70, 1);
$color5: #c2c8cc;

$text-primary: #3c4858;
$text-light: #fffbbd;

$bg-primary: #0e7ba3;
$bg-light: #f1f1f1;
