.pagenotfound {

    text-align: center;

    p {
        margin: 0;
    }

    .link {
        margin-top: 10px;

        a {
            color: #3c4858;
        }
    }

    .notfound {
        font-size: 90px;
    }    
}

